/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* dichiarazione variabili */
:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}




/* common */


.inline-list{
    display: flex;
    list-style: none;
}
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.regular{
    width: 100%;
}
.mobile-hidden{
    display: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

section,footer{
    padding: 3.75rem 1.875rem;
}

.etichetta{
    max-width: 500px;
    margin: auto;
}




/* header  */
header{
    background-color: var(--first-color);
}

.debug .logo{
    height: 50px;
}






/* MAIN  */
.col{
    width: 100%;
    border-radius: 1.25rem;
    background-color: var(--first-color-light);
}






/* debug sezione application */
.debug .col{
    height: 18.75rem;
}

/* debug sezione planning */
.debug .img{
    border: 1px solid black;
    height: 12.5rem;
}





/* planning */
#planning{
    background-color: var(--secondary-color);
}

#planning h2{
    margin: 2rem 0 1rem 0;
}
#planning .col{
    margin-top: 35px;
    background-color: white;
    border-radius: 40px;
}
#planning .img{
    width: 100%;

}


/* testimonials */
#testimonials .col{
    margin: 1.875rem 0rem;
    background-color: var(--secondary-color);
}

/* benefits */
#benefits{
    background-color: var(--secondary-color);
}

#benefits .col{
    display: flex;
    width: 100%;
    background-color: white;
}
#benefits h2{
    margin-bottom: 3.125rem;
}




/* about */
#about .container{
    display: block;
}


/* start  */
#start{
    background-color: var(--secondary-color);
    text-align: center;
}

/* foote  */
footer{
    background-color: #333333;
    color: white;
    text-align: center;
}

footer p{
    padding: 15px 0;
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* common */
    .max-width{
        max-width: 71.25rem;
        margin: auto;
    }
    section{
        padding: 3.75rem 0;
    }
    /* header */
    .main-nav{
        display: block;
    }
    .hamburger{
        display: none;
    }

    /* sezione application */
    #application .col{
        width: calc( 100% / 3 - 1.875rem);
    }
    #application .col:first-child{
        width: calc(2*(100% / 3) - 1.875rem);
    }

    /* sezione planning */
    #planning .row{
        max-width: 56.25rem;
        margin: auto;
        align-items: flex-end;
    }
    #planning .flex-item{
        width: calc(50% - 1.875rem);
    }
    /* sezione benefits */
    #benefits .col{
        width: calc(100% / 3 - 1.875rem);
        margin: auto;
    }
    /* sezione about */
    #about .container{
        display: flex;
    }


}



/* da 0 a 768 è mobile
da 768 a 992 è tablet
da 992 in poi desktop */

